.section {
  word-wrap: break-word;
  font-size: $base-font-size;

  @include large {
    max-width: 55rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

.second-section {
  @include large {
    margin-top: 1rem;
  }
}