{% extends "base.html" %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block title %}Теги{{config.extra.after_title}}{% endblock title %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block page_header %}
<h1 class="project-name">Теги</h1>
<h2 class="project-tagline">Архив всех постов, отсортированных по тегам.</h2>
{% endblock page_header %}

{% block content %}
<div id="tags">
  <center>
  <ul class="tag-box inline">
  {% for term in terms %}
    <a href="#{{ term.slug }}"><code class="tag"><nobr>#{{ term.name }}&nbsp;<sup>{{ term.pages | length }}</sup></nobr></code></a>&nbsp;
  {% endfor %}
  </ul>
  </center>

  {% for term in terms %}
  <h1 id="{{ term.slug }}"><a class="anchor" href="#{{term.slug}}">#</a>{{ term.name }}&nbsp;<a style="display: inline-block;" href="tags/{{term.slug}}/rss.xml"><img class="my-svg-icon" src="/ico/rss.svg" width="16" height="16"></a></h1>
  <ul class="posts">
    {% for page in term.pages %}
      <li itemscope><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock content %}