{% import "macros.html" as macros %}

{% extends "base.html" %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block social_metatags %}
{% set image = section.permalink ~ section.extra.image %}
<meta name="author" content="{{config.extra.author}}">
<meta name="title" content="{{section.title}}">
<meta name="description" content="{{section.description}}">
<meta name="image" content="{{image|safe}}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{section.permalink | safe}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{section.title}}">
<meta property="og:description" content="{{section.description}}">
<meta property="og:image" content="{{image|safe}}">
<meta property="og:locale" content="{{lang}}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{config.extra.domain}}">
<meta property="twitter:url" content="{{section.permalink | safe}}">
<meta name="twitter:title" content="{{section.title}}">
<meta name="twitter:description" content="{{section.description}}">
<meta name="twitter:image" content="{{image|safe}}">
<meta name="twitter:creator" content="{{config.extra.twitter_creator_username}}">
{% endblock social_metatags %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block page_header %}
<h1 class="project-name">{{section.title | safe}}</h1>
<h2 class="project-tagline">{{section.description | safe}}</h2>
{% endblock page_header %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block content %}
<h1 class="archive-year">⭐ Лучшее ⭐</h1>
<h2>Лонгрид про правильные клавиатуры</h1>
<div class="index">
  {% set posts = section.pages | filter(attribute="path", value="/p/my-keyboard-layout/") %}
  {{ macros::index_entry(post=posts[0]) }}
</div>
<hr>
<h2>Моё видео на YouTube</h1>
{{ section.content | safe }}
<hr>
<hr>
<hr>


<h1 class="archive-year">Посты в хронологическом порядке</h1>
<div class="index">
{% for year, posts in section.pages | group_by(attribute="year") %}
<h1 class="archive-year">{{year}}</h1>
{% for post in posts %}
  {{ macros::index_entry(post=post) }}
  {% if not loop.last %}
  <hr>
  {% endif %}
{% endfor %}
{% endfor %}
</div>
<!-- Костыль, потому что utteranc.es почему-то перенаправляется на главную страницу после авторизации -->
<div style="display: none;"> 
<script src="https://utteranc.es/client.js"
      repo="optozorax/optozorax.github.io"
      issue-term="pathname"
      theme="github-light"
      crossorigin="anonymous"
      async>
</script>
</div>
{% endblock content %}

