{% import "macros.html" as macros %}

{% extends "base.html" %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block social_metatags %}
<meta name="author" content="{{config.extra.author}}">
<meta name="title" content="{{section.title}}">
<meta name="description" content="{{section.description}}">
<meta name="image" content="{{section.extra.image}}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{section.permalink | safe}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{section.title}}">
<meta property="og:description" content="{{section.description}}">
<meta property="og:image" content="{{section.extra.image}}">
<meta property="og:locale" content="{{lang}}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{config.extra.domain}}">
<meta property="twitter:url" content="{{section.permalink | safe}}">
<meta name="twitter:title" content="{{section.title}}">
<meta name="twitter:description" content="{{section.description}}">
<meta name="twitter:image" content="{{section.extra.image}}">
<meta name="twitter:creator" content="{{config.extra.twitter_creator_username}}">
{% endblock social_metatags %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block page_header %}
<h1 class="project-name">{{section.title | safe}}</h1>
<h2 class="project-tagline">{{section.description | safe}}</h2>
{% endblock page_header %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="index">
{% for year, posts in section.pages | group_by(attribute="year") %}
<h1 class="archive-year">{{year}}</h1>
{% for post in posts %}
  <table>
    <tr>
      <td class="first">
        <a href="/{{ post.permalink | trim_start_matches(pat=config.base_url) }}" title="{{ post.title }}">
          {% set image = post.permalink ~ post.extra.image | trim_start_matches(pat=config.base_url) %}
          {% set new_image = resize_image(path=image, width=200, height=200, op="fit", format="webp") %}
          <img src="/{{ new_image.url | trim_start_matches(pat=config.base_url) }}"
            width="{{ new_image.width }}" height="{{ new_image.height }}">
        </a>
        {% set day = post.date | date(format="%d") %}
        {% set month = post.date | date(format="%m") %}
        {% set month = macros::month_to_name(month=month) %}
        <span class="post-date">{{ day ~ " " ~ month }}</span>
        <span class="post-date">🕑 {{ post.reading_time }} мин</span>
      </td>
      <td class="second">
        <h2>
          <a class="post-link" href="{{ post.permalink | trim_start_matches(pat=config.base_url) | safe }}" title="{{ post.title }}">
            {{ post.title | safe }}
          </a>
        </h2>
        <span>{{ post.description | safe }}</span>
      </td>
    </tr>
  </table>
  {% if not loop.last %}
  <hr>
  {% endif %}
{% endfor %}
{% endfor %}
</div>
{% endblock content %}