{% extends "base.html" %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block social_metatags %}
{% set image = page.permalink ~ page.extra.image %}
<meta name="author" content="{{config.extra.author}}">
<meta name="title" content="{{page.title}}{{config.extra.after_title}}">
<meta name="description" content="{{page.description}}">
<meta name="image" content="{{image | safe}}">
{% if page.taxonomies.tags %}
<meta name="keywords" itemprop="tags" content="{{ page.taxonomies.tags | join(sep=', ') }}">
{% endif %}

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{page.permalink | safe}}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title}}{{config.extra.after_title}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:image" content="{{image | safe}}">
<meta property="og:locale" content="{{lang}}">

{% if page.date %}
<meta property="article:published_time" content="{{page.date | date(format="%F")}}">
{% endif %}

{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<meta property="article:tag" content="{{tag}}">
{% endfor %}
{% endif %}

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{config.extra.domain}}">
<meta property="twitter:url" content="{{page.permalink | safe}}">
<meta name="twitter:title" content="{{page.title}}{{config.extra.after_title}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="{{image | safe}}">
<meta name="twitter:creator" content="{{config.extra.twitter_creator_username}}">
{% endblock social_metatags %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block title %}{{page.title}}{{config.extra.after_title}}{% endblock title %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block before_site_header %}
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}
{% endblock before_site_header %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block after_site_header %}
{% if page.toc | length > 0 %}
</td><td>
</td></tr></table>
{% endif %}
{% endblock after_site_header %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block before_site_footer %}
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}
{% endblock before_site_footer %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block after_site_footer %}
{% if page.toc | length > 0 %}
</td><td>
</td></tr></table>
{% endif %}
{% endblock after_site_footer %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block extra_head %}
{% if page.extra.use_katex %}
<link rel="preload" as="font" href="/fonts/KaTeX/KaTeX_Size4-Regular.woff2" crossOrigin="anonymous">
<link rel="preload" as="font" href="/fonts/KaTeX/KaTeX_Math-Italic.woff2" crossOrigin="anonymous">
<link rel="preload" as="font" href="/fonts/KaTeX/KaTeX_Main-Bold.woff2" crossOrigin="anonymous">
<link rel="preload" as="font" href="/fonts/KaTeX/KaTeX_Main-Regular.woff2" crossOrigin="anonymous">
<link rel="preload" as="font" href="/fonts/KaTeX/KaTeX_AMS-Regular.woff2" crossOrigin="anonymous">

<link rel="stylesheet" href="/katex.min.css">
<script defer src="/js/katex.min.js"></script>
<script defer src="/js/mathtex-script-type.min.js"></script>
{% endif %}
<script type="text/javascript" src="/js/hammer.min.js"></script>
<script type="text/javascript" src="/js/toc.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>
<script type="text/javascript" src="/js/full_screen.js"></script>
<script type="text/javascript" src="/js/word_wrap.js"></script>
{% endblock extra_head %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block page_header %}
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}

<h1 class="project-name">{{page.title}}</h1>
{% if page.description %}
<h2 class="project-tagline">{{page.description}}</h2>
{% endif %}

{% if page.taxonomies.tags %}
<span style="margin-bottom: 10px;">
  {% for tag in page.taxonomies.tags %}
    <a href="/tags#{{ tag | slugify }}"><code class="tag"><nobr>#{{ tag }}</nobr></code></a>&nbsp;
  {% endfor %}
</span>
{% endif %}

<center>
<table style="margin-top: 8px;">
<tr>

{% if page.date %}
<td style="padding-right: 10px; border-right: 0px solid #ffffff;">
<h2 class="project-date" style="margin-top: 0px;">
  <time datetime="{{ page.date | date(format="%F") }}" itemprop="datePublished">
    {% set day = page.date | date(format="%d") %}
    {% set month = page.date | date(format="%m") %}
    {% set month = macros::month_to_name(month=month) %}
    {% set year = page.date | date(format="%Y") %}
    <span class="post-date">{{ day ~ " " ~ month ~ " " ~ year }}</span>
  </time>
</h2>
</td>
{% endif %}

{% if page.extra.vk is defined or page.extra.tg is defined %}
<td style="padding-left: 10px;">
  {% if page.extra.vk %}
  <a href="{{ page.extra.vk }}">
  <code class="tag">Пост в ВК</code>
  </a>
  {% endif %}
  {% if page.extra.tg %}
  <a href="{{ page.extra.tg }}">
  <code class="tag">Пост в Telegram</code>
  </a>
  {% endif %}
  {% if page.extra.tg_comments %}
  ({{ page.extra.tg_comments }} 💬)
  {% endif %}
</td>
{% endif %}
</tr>
</table>

{% if page.extra.button %}
<br><a href="{{ page.extra.button.link }}" class="btn" style="margin: 0px;">{{page.extra.button.text}}</a>
{% endif %}
</center>

{% if page.toc | length > 0 %}
</td><td>
</td></tr></table>
{% endif %}

{% endblock page_header %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
<div itemprop="articleBody" id="content">
{{ page.content | safe }}
</div>
</article>
{% endblock content %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block before_content %}
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}
{% endblock before_content %}

{# -------------------------------------------------------------------------------------------------------- #}
{% block after_content %}
{% if page.toc | length > 0 %}
</td><td>
<!-- TOC -->
<div class="side-button" onclick="toggle_toc()">❰</div>
<nav class="section-nav">
 <h2>Содержание</h2>
 <ul class="first">
 {% for h1 in page.toc %}
 {% set url = h1.permalink | trim_start_matches(pat=current_url) | safe %}
  <li>
   <a href="{{url}}">{{ h1.title }}</a>
   {% if h1.children %}
    <ul class="second">
     {% for h2 in h1.children %}
      {% set url = h2.permalink | trim_start_matches(pat=current_url) | safe %}
      <li>
       <a href="{{url}}">{{ h2.title }}</a>
       {% if h2.children %}
       <ul class="third">
        {% for h3 in h2.children %}
         {% set url = h3.permalink | trim_start_matches(pat=current_url) | safe %}
         <li>
          <a href="{{url}}">{{ h3.title }}</a>
          {% if h3.children %}
          <ul class="fourth">
           {% for h4 in h3.children %}
            {% set url = h4.permalink | trim_start_matches(pat=current_url) | safe %}
            <li>
             <a href="{{url}}">{{ h4.title }}</a>
             {% if h4.children %}
             <ul class="fifth">
              {% for h5 in h4.children %}
               {% set url = h5.permalink | trim_start_matches(pat=current_url) | safe %}
               <li>
                <a href="{{url}}">{{ h5.title }}</a>
                {% if h5.children %}
                <ul class="fifth">
                 {% for h6 in h5.children %}
                  {% set url = h6.permalink | trim_start_matches(pat=current_url) | safe %}
                  <li>
                   <a href="{{url}}">{{ h6.title }}</a>
                  </li>
                 {% endfor %}
                </ul>
                {% endif %}
               </li>
              {% endfor %}
             </ul>
             {% endif %}
            </li>
           {% endfor %}
          </ul>
          {% endif %}
         </li>
        {% endfor %}
       </ul>
       {% endif %}
      </li>
     {% endfor %}
    </ul>
   {% endif %}
  </li>
 {% endfor %}
 </ul>
</nav>
</td></tr></table>
{% endif %}

{% block self_advert %}
<!-- comments -->
<hr class="enabled-on-phone">
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}
<section class="section second-section">
Если вам нравится что я делаю, то подписывайтесь на меня в <a href="https://t.me/optozorax_dev">Telegram</a> и <a href="https://www.youtube.com/c/optozorax">YouTube</a>. Или подержите рублём на <a href="https://boosty.to/optozorax">Boosty</a>.
</section>
{% if page.toc | length > 0 %}
</td><td>
</td></tr></table>
{% endif %}
{% endblock self_advert %}

{% block comments %}
<!-- comments -->
<hr class="enabled-on-phone">
{% if page.toc | length > 0 %}
<table class="toc-aligmenter"><tr><td>
{% endif %}
<section class="comments section second-section">
{% if config.mode != "Serve" %}
<script src="https://utteranc.es/client.js"
        repo="optozorax/optozorax.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% else %}
Comments are not supported on localhost.
{% endif %}
</section>
{% if page.toc | length > 0 %}
</td><td>
</td></tr></table>
{% endif %}
{% endblock comments %}

{% endblock after_content %}